.login-container {
  background-image: url("../../public/Animated\ Shape.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 8px;
  backdrop-filter: blur(30px);
}

.login-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 5px;
  min-width: 350px;
}

.login-item span {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  margin: 5px 2px;
  font-weight: 400;
  padding: 0;
}

.login-item span svg {
  margin-right: 8px;
}

.login-input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.35);
  color: #ffff;
}

.login-input:hover {
  background: rgba(0, 0, 0, 0.5);
}

.login-button,
.register-button {
  width: 100%;
  margin: 10px;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.login-button {
  background-color: #0e0f0e;
  color: white;
}

.register-button {
  background-color: #000000;
  color: white;
}

.register-button:hover {
  background-color: #5379df !important;
}
.login-button:hover {
  background-color: #0a5e2d;
}
.register-button {
  border-radius: 50px !important;
}
