.container-fluid {
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
}

.machine-card {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  left: 0;
  margin-top: 10px;
  background-color: #a80202;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.machine-card:hover {
  transform: translateY(10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card-title .ml-2 {
  margin-left: 8px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.card-text .mr-2 {
  margin-right: 8px;
}

.status-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.status-text .text-success {
  color: #28a745;
}

.status-text .text-danger {
  color: red;
}

/* Yeni eklemeler */
.machine-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.action-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 5px;
}

.action-button:hover {
  opacity: 0.8;
}

.add-machine-button {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.add-machine-button:hover {
  background-color: #28a745;
}
