.container-fluid {
  padding: 20px;
  margin-left: 10px !important;
}

.machine-card {
  border: 1px solid #888888;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(170, 22, 22, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  left: 0;
  margin-top: 0px;
  color: rgb(0, 0, 0);
}

.machine-card:hover {
  transform: translateY(10px);
  box-shadow: 0 12px 20px rgba(26, 12, 12, 0.2);
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card-title .ml-2 {
  margin-left: 8px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.card-text .mr-2 {
  margin-right: 8px;
}

.status-text {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.status-text .mr-2 {
  margin-right: 8px;
}

.machine-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.machine-actions button {
  margin: 0 5px;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.machine-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.edit-button {
  color: #000000;
}

.machine-actions {
  color: #dc3545;
}
.delete-button {
  color: #dc3545;
}

.machine-actions button:hover {
  opacity: 1;
}

.add-machine-form,
.edit-machine-form {
  margin-bottom: 20px;
}

.add-machine-form input,
.edit-machine-form input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.add-machine-form button,
.edit-machine-form button {
  margin-top: 10px;
  width: 100%;
}
