.machine-details-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.machine-details-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.machine-details-container button {
  margin-bottom: 20px;
}

.machine-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.card h2 svg {
  margin-right: 8px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.text-success {
  color: #28a745;
  display: flex;
  align-items: center;
}

.text-danger {
  color: #dc3545;
  display: flex;
  align-items: center;
}

.text-success svg,
.text-danger svg {
  margin-right: 5px;
}

.btn-secondary {
  background-color: #000000 !important;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #5a5a5a !important;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}

@media (max-width: 768px) {
  .machine-details-container {
    padding: 15px;
  }

  .machine-details {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}