.sidebar {
  height: 100%;
  width: 200px;
  padding: 15px;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.sidebar.light {
  background: #F2F2F7; 
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar.light .link {
  color: #1C1C1E; 
}

.sidebar.light .link:hover {
  background: #D1D1D6; 
  color: #000;
}

.sidebar.dark {
  background: #1C1C1E; 
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar.dark .link {
  color: #FFFFFF; 
}

.sidebar.dark .link:hover {
  background: #2C2C2E; 
  color: #FFFFFF;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s, color 0.3s;
  font-size: 16px; 
}

.icon {
  font-size: 1.5rem;
  margin-right: 15px;
}

.top-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  height: 60px;
}

.top-icon .icon {
  margin: 0 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #E5E5EA; 
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-container {
  margin-top: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-left {
  font-size: 1.5rem;
  margin-right: 10px;
}

.icon-right {
  font-size: 1.5rem;
  margin-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Sidebar.css */

/* Profile item styles */
.profile-item {
  position: relative; /* Ensure the popup is positioned correctly */
}

.profile-popup {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: block;
}

.profile-popup p {
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
}

.profile-popup p:hover {
  background-color: #f0f0f0;
}

.profile-item:hover .profile-popup {
  display: block;
}

/* Additional adjustments to the popup */
.profile-item:hover .profile-popup {
  display: block;
}
