.users-container {
  padding: 20px !important;
}

.add-user-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.add-user-button:hover {
  background-color: #000000;
  transform: scale(1.05) !important;
}

.add-user-button svg {
  margin-right: 8px;
}

.add-user-form-container,
.edit-user-form-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.add-user-form-container input,
.edit-user-form-container input,
.add-user-form-container select,
.edit-user-form-container select {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  position: relative;
}

.add-user-form-container input[type="password"] + .password-icon,
.edit-user-form-container input[type="password"] + .password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.add-user-form-container button,
.edit-user-form-container button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-button {
  background-color: #28a745;
  color: #fff;
}

.update-button {
  background-color: #218838;
  color: #fff;
}

.cancel-button {
  background-color: #dc3545;
  color: #fff;
}

.add-button:hover,
.update-button:hover {
  background-color: #218838;
}

.cancel-button:hover {
  background-color: #c82333;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.user-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.user-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-info {
  margin: 10px 0;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 250px; /* Adjust as needed */
  word-wrap: break-word; /* Allow long text to wrap */
}

.info-item:nth-child(1) .info-icon {
  color: #000000;
}

.info-item:nth-child(2) .info-icon {
  color: #28a745;
}

.info-item:nth-child(3) .info-icon {
  color: #dc3545;
}

.info-item:nth-child(4) .info-icon {
  color: #ffc107;
}

.info-item:nth-child(5) .info-icon {
  color: #17a2b8;
}

.info-item:nth-child(6) .info-icon {
  color: #6c757d;
}

.info-icon {
  margin-right: 8px;
  font-size: 20px;
}

.info-item p {
  font-size: 14px;
  margin: 0;
  overflow-wrap: break-word; /* Break long words if necessary */
}

.card-actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.edit-button {
  color: #007bff;
}

.delete-button {
  color: #dc3545;
}

.edit-button:hover {
  color: #0056b3;
}

.delete-button:hover {
  color: #c82333;
}

.error-message {
  color: #dc3545;
  font-weight: bold;
  margin-top: 10px;
}
